body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 8%);
}

.name {
    color: hsl(0, 0%, 100%);
}

.tagline {
    color: hsl(75, 94%, 57%);
}

.location {
    color: hsl(0, 0%, 50%);
}

.card {
    padding: 2rem;
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.links {
    list-style: none;
}

.attribution {
    text-align: center;
}